<div class="pictures">
	<div id="principal_image"> 
		<%= image_tag("principal.jpg") %>
	</div>
</div>
<div class="principal_page">
	<div id="text1">
		<h2>
			¿Por qué elegirnos?
		</h2>
		<p>
			Somos una de las pocas empresas que siguen grabando el metal de forma artesanal. La calidad es nuestro punto fuerte, pero a esta se le añade la identidad artesana de cada producto, realizado siempre a gusto y para satisfacción del cliente. Realizamos todo tipo de grabados en metales.	
		</p>
	</div>

	<div id="text2">
		<h2>
			Nuestra experiencia nos hace únicos
		</h2>
		<p>
			Debido a la experiencia acumulada durante tantos años, podemos decir sin temor a equivocarnos, que existe obra nuestra en todos los lugares del mundo; desde la Selva Amazónica a los Polos Terrestres.
		</p>
	</div>

</div>

<div id="page-wrap">	
	<div id="slider">

		<div id="mover">
	
			<div id="slide-1" class="slide">
			
				<h1>Badges</h1>
				
				<p>Trabajando desde hace años para obtener los mejores resultados</p>
				
				<a href="#"><div id="b1p"><%= image_tag("b1.jpg") %></div></a>
				
			</div>
			
			<div class="slide">
			
				<h1>Cuadros</h1>
				
				<p>Especializados en la exclusividad y a disposición de nuestros clientes</p>
				
				<a href="#"><div id="c3p"><%= image_tag("c3.jpg") %></div></a>
				
			</div>
			
			<div class="slide">
			
				<h1>Emblemas</h1>
				
				<p>Realizamos nuestros trabajos en diferentes metales y en una gran gama de formas y tamaños</p>
				
				<a href="#"><div id="e3p"><%= image_tag("e3.jpg") %></div></a>
				
			</div>

			<div class="slide">
			
				<h1>Heráldica</h1>
				
				<p>Trabajos totalmente artesanales y, por tanto, únicos</p>
				
				<a href="#"><div class="c8p"><%= image_tag("c8.jpg") %></div></a>
				
			</div>

			<div class="slide">
			
				<h1>Láminas</h1>
				
				<p>Productos originales para eventos deportivos y todo tipo de competiciones.</p>
				
				<a href="#"><div id="l9p"><%= image_tag("l9.jpg") %></div></a>
				
			</div>

			<div class="slide">
			
				<h1>Metopas</h1>
				
				<p>Trabajos de identificación de un grupo, unidad o regimiento. Los contenidos varían desde escudos hasta himnos</p>
				
				<a href="#"><div id="m36p"><%= image_tag("m36.jpg") %></div></a>
				
			</div>

			<div class="slide">
			
				<h1>Placas</h1>
				
				<p>Productos conmemorativos, de inauguración, señalización y homenaje</p>
				
				<a href="#"><div id="ph1p"><%= image_tag("ph1.jpg") %></div></a>
				
			</div>
			<div class="slide">
			
				<h1>Trofeos y Pisapapeles</h1>
				
				<p>Trabajos destinados a reforzar y reconocer el éxito</p>
				
				<a href="#"><div id="t1p"><%= image_tag("t1.jpg") %></div></a>
				
			</div>
		
		</div>
	
	</div>
			
</div>