<h1>Badges</h1>
<div class="pictures">
	<div id="b1"> 
		<%= image_tag("b1.jpg") %>
	</div>
	<div id="b2"> 
		<%= image_tag("b2.jpg") %>
	</div>
	<div id="b3"> 
		<%= image_tag("b3.jpg") %>
	</div>
	<div id="b4"> 
		<%= image_tag("b4.jpg") %>
	</div>
	<div id="b5"> 
		<%= image_tag("b5.jpg") %>
	</div>
	<div id="b6"> 
		<%= image_tag("b6.jpg") %>
	</div>
</div>