<h1>Cuadros</h1>
<div class="pictures">
	<div> 
		<%= image_tag("c1.jpg") %>
	</div>
	<div> 
		<%= image_tag("c2.jpg") %>
	</div>
	<div> 
		<%= image_tag("c3.jpg") %>
	</div>
	<div> 
		<%= image_tag("c4.jpg") %>
	</div>
	<div> 
		<%= image_tag("c5.jpg") %>
	</div>
</div>