<h1>Cuadros</h1>
<div class="pictures">
	<div id="c1"> 
		<%= image_tag("c1.jpg") %>
	</div>
	<div id="c2"> 
		<%= image_tag("c2.jpg") %>
	</div>
	<div id="c3"> 
		<%= image_tag("c3.jpg") %>
	</div>
	<div id="c4"> 
		<%= image_tag("c4.jpg") %>
	</div>
	<div id="c5"> 
		<%= image_tag("c5.jpg") %>
	</div>
	<div id="c6"> 
		<%= image_tag("c6.jpg") %>
	</div>
	<div id="c7"> 
		<%= image_tag("c7.jpg") %>
	</div>
	<div id="c8"> 
		<%= image_tag("c8.jpg") %>
	</div>
</div>