<h1>Emblemas</h1>
<div class="pictures">
	<div id="e1"> 
		<%= image_tag("e1.jpg") %>
	</div>
	<div id="e2"> 
		<%= image_tag("e2.jpg") %>
	</div>
	<div id="e3"> 
		<%= image_tag("e3.jpg") %>
	</div>
	<div id="e4"> 
		<%= image_tag("e4.jpg") %>
	</div>
	<div id="e5"> 
		<%= image_tag("e5.jpg") %>
	</div>
	<div id="e6"> 
		<%= image_tag("e6.jpg") %>
	</div>
	<div id="e7"> 
		<%= image_tag("e7.jpg") %>
	</div>
	<div id="e8"> 
		<%= image_tag("e8.jpg") %>
	</div>
	<div id="e9"> 
		<%= image_tag("e9.jpg") %>
	</div>
	<div id="e10"> 
		<%= image_tag("e10.jpg") %>
	</div>
	<div id="e11"> 
		<%= image_tag("e11.jpg") %>
	</div>
	<div id="e12"> 
		<%= image_tag("e12.jpg") %>
	</div>
	<div id="e13"> 
		<%= image_tag("e13.jpg") %>
	</div>
	<div id="e14"> 
		<%= image_tag("e14.JPG") %>
	</div>
	<div id="e15"> 
		<%= image_tag("e15.JPG") %>
	</div>
	<div id="e16"> 
		<%= image_tag("e16.JPG") %>
	</div>
	<div id="e17"> 
		<%= image_tag("e17.JPG") %>
	</div>
	<div id="e18"> 
		<%= image_tag("e18.JPG") %>
	</div>
	<div id="e19"> 
		<%= image_tag("e19.JPG") %>
	</div>
</div>