<h1>Láminas</h1>
<div class="pictures">
	<div id="l1"> 
		<%= image_tag("l1.jpg") %>
	</div>
	<div id="l2"> 
		<%= image_tag("l2.jpg") %>
	</div>
	<div id="l3"> 
		<%= image_tag("l3.JPG") %>
	</div>
	<div id="l4"> 
		<%= image_tag("l4.jpg") %>
	</div>
	<div id="l5"> 
		<%= image_tag("l5.jpg") %>
	</div>
	<div id="l6"> 
		<%= image_tag("l6.jpg") %>
	</div>
	<div id="l7"> 
		<%= image_tag("l7.jpg") %>
	</div>
	<div id="l8"> 
		<%= image_tag("l8.jpg") %>
	</div>
	<div id="l9"> 
		<%= image_tag("l9.jpg") %>
	</div>
	<div id="l10"> 
		<%= image_tag("l10.JPG") %>
	</div>
	<div id="l11"> 
		<%= image_tag("l11.jpg") %>
	</div>
	<div id="l12"> 
		<%= image_tag("l12.jpg") %>
	</div>
	<div id="l13"> 
		<%= image_tag("l13.jpg") %>
	</div>
	<div id="l14"> 
		<%= image_tag("l14.JPG") %>
	</div>
	<div id="l15"> 
		<%= image_tag("l15.JPG") %>
	</div>
	<div id="l16"> 
		<%= image_tag("l16.JPG") %>
	</div>
	<div id="l17"> 
		<%= image_tag("l17.JPG") %>
	</div>
	<div id="l18"> 
		<%= image_tag("l18.JPG") %>
	</div>
	<div id="l19"> 
		<%= image_tag("l19.JPG") %>
	</div>
	<div id="l20"> 
		<%= image_tag("l20.JPG") %>
	</div>
	<div id="l21"> 
		<%= image_tag("l21.JPG") %>
	</div>
	<div id="l22"> 
		<%= image_tag("l22.JPG") %>
	</div>
	<div id="l23"> 
		<%= image_tag("l23.JPG") %>
	</div>
	<div id="l24"> 
		<%= image_tag("l24.JPG") %>
	</div>
	<div id="l25"> 
		<%= image_tag("l25.JPG") %>
	</div>
	<div id="l26"> 
		<%= image_tag("l26.JPG") %>
	</div>
</div>