<h1>Láminas</h1>
<div class="pictures">
	<div id="l1"> 
		<%= image_tag("l1.jpg") %>
	</div>
	<div id="l2"> 
		<%= image_tag("l2.jpg") %>
	</div>
	<div id="l3"> 
		<%= image_tag("l3.jpg") %>
	</div>
	<div id="l4"> 
		<%= image_tag("l4.jpg") %>
	</div>
	<div id="l5"> 
		<%= image_tag("l5.jpg") %>
	</div>
</div>