<h1>Metopas</h1>
<div class="pictures">
	<div> 
		<%= image_tag("m1.jpg") %>
	</div>
	<div> 
		<%= image_tag("m2.jpg") %>
	</div>
	<div> 
		<%= image_tag("m3.jpg") %>
	</div>
	<div> 
		<%= image_tag("m4.jpg") %>
	</div>
	<div> 
		<%= image_tag("m5.jpg") %>
	</div>
	<div> 
		<%= image_tag("m6.jpg") %>
	</div>
	<div> 
		<%= image_tag("m7.jpg") %>
	</div>
	<div> 
		<%= image_tag("m8.jpg") %>
	</div>
	<div> 
		<%= image_tag("m9.jpg") %>
	</div>
	<div> 
		<%= image_tag("m10.JPG") %>
	</div>
	<div> 
		<%= image_tag("m11.JPG") %>
	</div>
	<div> 
		<%= image_tag("m12.JPG") %>
	</div>
	<div> 
		<%= image_tag("m13.jpg") %>
	</div>
	<div> 
		<%= image_tag("m14.jpg") %>
	</div>
	<div> 
		<%= image_tag("m15.jpg") %>
	</div>
	<div> 
		<%= image_tag("m16.jpg") %>
	</div>
	<div> 
		<%= image_tag("m17.jpg") %>
	</div>
	<div> 
		<%= image_tag("m18.jpg") %>
	</div>
	<div> 
		<%= image_tag("m19.jpg") %>
	</div>
	<div> 
		<%= image_tag("m20.jpg") %>
	</div>
	<div> 
		<%= image_tag("m21.jpg") %>
	</div>
	<div> 
		<%= image_tag("m22.jpg") %>
	</div>
	<div> 
		<%= image_tag("m23.jpg") %>
	</div>
	<div> 
		<%= image_tag("m24.jpg") %>
	</div>
	<div> 
		<%= image_tag("m25.jpg") %>
	</div>
	<div> 
		<%= image_tag("m26.jpg") %>
	</div>
	<div> 
		<%= image_tag("m27.jpg") %>
	</div>
	<div> 
		<%= image_tag("m28.jpg") %>
	</div>
	<div> 
		<%= image_tag("m29.jpg") %>
	</div>
	<div> 
		<%= image_tag("m30.jpg") %>
	</div>
	<div> 
		<%= image_tag("m31.jpg") %>
	</div>
	<div> 
		<%= image_tag("m32.jpg") %>
	</div>
	<div> 
		<%= image_tag("m33.jpg") %>
	</div>
	<div> 
		<%= image_tag("m34.jpg") %>
	</div>
	<div> 
		<%= image_tag("m35.jpg") %>
	</div>
	<div> 
		<%= image_tag("m36.jpg") %>
	</div>
	<div> 
		<%= image_tag("m37.jpg") %>
	</div>
	<div> 
		<%= image_tag("m38.jpg") %>
	</div>
	<div> 
		<%= image_tag("m39.jpg") %>
	</div>
	<div> 
		<%= image_tag("m40.jpg") %>
	</div>
	<div> 
		<%= image_tag("m41.jpg") %>
	</div>
</div>