<h1>Metopas</h1>
<div class="pictures">
	<div> 
		<%= image_tag("m1.jpg") %>
	</div>
	<div> 
		<%= image_tag("m2.jpg") %>
	</div>
	<div> 
		<%= image_tag("m3.jpg") %>
	</div>
	<div> 
		<%= image_tag("m4.jpg") %>
	</div>
	<div> 
		<%= image_tag("m5.jpg") %>
	</div>
	<div> 
		<%= image_tag("m6.jpg") %>
	</div>
	<div> 
		<%= image_tag("m7.jpg") %>
	</div>
	<div> 
		<%= image_tag("m8.jpg") %>
	</div>
	<div> 
		<%= image_tag("m9.jpg") %>
	</div>
	<div> 
		<%= image_tag("m10.JPG") %>
	</div>
	<div> 
		<%= image_tag("m11.JPG") %>
	</div>
	<div> 
		<%= image_tag("m12.JPG") %>
	</div>
	<div> 
		<%= image_tag("m13.jpg") %>
	</div>
</div>