<h1>Metopas</h1>
<div class="pictures">
	<div id="m1"> 
		<%= image_tag("m1.jpg") %>
	</div>
	<div id="m2"> 
		<%= image_tag("m2.jpg") %>
	</div>
	<div id="m3"> 
		<%= image_tag("m3.jpg") %>
	</div>
	<div id="m4"> 
		<%= image_tag("m4.jpg") %>
	</div>
	<div id="m5"> 
		<%= image_tag("m5.jpg") %>
	</div>
	<div id="m6"> 
		<%= image_tag("m6.jpg") %>
	</div>
	<div id="m7"> 
		<%= image_tag("m7.jpg") %>
	</div>
	<div id="m8"> 
		<%= image_tag("m8.jpg") %>
	</div>
	<div id="m9"> 
		<%= image_tag("m9.jpg") %>
	</div>
	<div id="m10"> 
		<%= image_tag("m10.jpg") %>
	</div>
	<div id="m11"> 
		<%= image_tag("m11.jpg") %>
	</div>
	<div id="m12"> 
		<%= image_tag("m12.jpg") %>
	</div>
	<div id="m13"> 
		<%= image_tag("m13.jpg") %>
	</div>
	<div id="m14"> 
		<%= image_tag("m14.jpg") %>
	</div>
	<div id="m15"> 
		<%= image_tag("m15.jpg") %>
	</div>
	<div id="m16"> 
		<%= image_tag("m16.JPG") %>
	</div>
	<div id="m17"> 
		<%= image_tag("m17.jpg") %>
	</div>
	<div id="m18"> 
		<%= image_tag("m18.jpg") %>
	</div>
	<div id="m19"> 
		<%= image_tag("m19.jpg") %>
	</div>
	<div id="m20"> 
		<%= image_tag("m20.jpg") %>
	</div>
	<div id="m21"> 
		<%= image_tag("m21.jpg") %>
	</div>
	<div id="m22"> 
		<%= image_tag("m22.jpg") %>
	</div>
	<div id="m23"> 
		<%= image_tag("m23.jpg") %>
	</div>
	<div id="m24"> 
		<%= image_tag("m24.jpg") %>
	</div>
	<div id="m25"> 
		<%= image_tag("m25.jpg") %>
	</div>
	<div id="m26"> 
		<%= image_tag("m26.jpg") %>
	</div>
	<div id="m27"> 
		<%= image_tag("m27.JPG") %>
	</div>
	<div id="m28"> 
		<%= image_tag("m28.jpg") %>
	</div>
	<div id="m29"> 
		<%= image_tag("m29.jpg") %>
	</div>
	<div id="m30"> 
		<%= image_tag("m30.jpg") %>
	</div>
	<div id="m31"> 
		<%= image_tag("m31.jpg") %>
	</div>
	<div id="m32"> 
		<%= image_tag("m32.jpg") %>
	</div>
	<div id="m33"> 
		<%= image_tag("m33.jpg") %>
	</div>
	<div id="m34"> 
		<%= image_tag("m34.jpg") %>
	</div>
	<div id="m35"> 
		<%= image_tag("m35.jpg") %>
	</div>
	<div id="m36"> 
		<%= image_tag("m36.jpg") %>
	</div>
	<div id="m37"> 
		<%= image_tag("m37.jpg") %>
	</div>
	<div id="m38"> 
		<%= image_tag("m38.jpg") %>
	</div>
	<div id="m39"> 
		<%= image_tag("m39.jpg") %>
	</div>
</div>