<h1>Placas</h1>
<div class="pictures">
	<div> 
		<%= image_tag("chapanavas.jpg") %>
	</div>
	<div> 
		<%= image_tag("ingles 030.jpg") %>
	</div>
	<div> 
		<%= image_tag("ingles 035.jpg") %>
	</div>
	<div> 
		<%= image_tag("ingles 047.jpg") %>
	</div>
	<div> 
		<%= image_tag("ingles 067.jpg") %>
	</div>
	<div> 
		<%= image_tag("ingles 123.jpg") %>
	</div>
</div>