<h1>Placas Señalizacion</h1>
<div class="pictures">
	<div class="ps">
		<div id="ps1"> 
			<%= image_tag("ps1.jpg") %>
		</div>
		<div id="ps2"> 
			<%= image_tag("ps2.jpg") %>
		</div>
		<div id="ps3"> 
			<%= image_tag("ps3.jpg") %>
		</div>
		<div id="ps4"> 
			<%= image_tag("ps4.jpg") %>
		</div>
		<div id="ps5"> 
			<%= image_tag("ps5.jpg") %>
		</div>
		<div id="ps6"> 
			<%= image_tag("ps6.jpg") %>
		</div>
		<div id="ps7"> 
			<%= image_tag("ps7.jpg") %>
		</div>
		<div id="ps8"> 
			<%= image_tag("ps8.jpg") %>
		</div>
		<div id="ps9"> 
			<%= image_tag("ps9.jpg") %>
		</div>
		<div id="ps10"> 
			<%= image_tag("ps10.jpg") %>
		</div>
		<div id="ps11"> 
			<%= image_tag("ps11.jpg") %>
		</div>
		<div id="ps12"> 
			<%= image_tag("ps12.jpg") %>
		</div>
		<div id="ps13"> 
			<%= image_tag("ps13.jpg") %>
		</div>
		<div id="ps14"> 
			<%= image_tag("ps14.jpg") %>
		</div>
		<div id="ps15"> 
			<%= image_tag("ps15.jpg") %>
		</div>
		<div id="ps16"> 
			<%= image_tag("ps16.jpg") %>
		</div>
		<div id="ps17"> 
			<%= image_tag("ps17.JPG") %>
		</div>
		<div id="ps18"> 
			<%= image_tag("ps18.JPG") %>
		</div>
	</div>
</div>