<h1>Placas Señalizacion</h1>
<div class="pictures">
	<div> 
		<%= image_tag("ps1.jpg") %>
	</div>
	<div> 
		<%= image_tag("ps2.jpg") %>
	</div>
	<div> 
		<%= image_tag("ps3.jpg") %>
	</div>
	<div> 
		<%= image_tag("ps4.jpg") %>
	</div>
	<div> 
		<%= image_tag("ps5.jpg") %>
	</div>
	<div> 
		<%= image_tag("ps6.jpg") %>
	</div>
	<div> 
		<%= image_tag("ps7.jpg") %>
	</div>
	<div> 
		<%= image_tag("ps8.jpg") %>
	</div>
	<div> 
		<%= image_tag("ps9.jpg") %>
	</div>
	<div> 
		<%= image_tag("ps10.jpg") %>
	</div>
	<div> 
		<%= image_tag("ps11.jpg") %>
	</div>
	<div> 
		<%= image_tag("ps12.jpg") %>
	</div>
	<div> 
		<%= image_tag("ps13.jpg") %>
	</div>
	<div> 
		<%= image_tag("ps14.jpg") %>
	</div>
	<div> 
		<%= image_tag("ps15.jpg") %>
	</div>
	<div> 
		<%= image_tag("ps16.jpg") %>
	</div>
	<div> 
		<%= image_tag("ps17.jpg") %>
	</div>
	<div> 
		<%= image_tag("ps18.jpg") %>
	</div>
</div>