<h1>Placas</h1>
<div class="pictures">
	<div> 
		<%= image_tag("ph1.jpg") %>
	</div>
	<div> 
		<%= image_tag("ph2.jpg") %>
	</div>
	<div> 
		<%= image_tag("ph3.jpg") %>
	</div>
	<div> 
		<%= image_tag("ph4.jpg") %>
	</div>
	<div> 
		<%= image_tag("ph5.jpg") %>
	</div>
	<div> 
		<%= image_tag("ph6.jpg") %>
	</div>
	<div> 
		<%= image_tag("ph7.jpg") %>
	</div>
	<div> 
		<%= image_tag("ph8.jpg") %>
	</div>
	<div> 
		<%= image_tag("ph9.jpg") %>
	</div>
	<div> 
		<%= image_tag("ph10.jpg") %>
	</div>
	<div> 
		<%= image_tag("ph11.jpg") %>
	</div>
</div>