<h1>Placas Homenaje</h1>
<div class="pictures">
	<div id="ph1"> 
		<%= image_tag("ph1.jpg") %>
	</div>
	<div id="ph2"> 
		<%= image_tag("ph2.jpg") %>
	</div>
	<div id="ph3"> 
		<%= image_tag("ph3.jpg") %>
	</div>
	<div id="ph4"> 
		<%= image_tag("ph4.jpg") %>
	</div>
	<div id="ph5"> 
		<%= image_tag("ph5.jpg") %>
	</div>
	<div id="ph6"> 
		<%= image_tag("ph6.jpg") %>
	</div>
	<div id="ph7"> 
		<%= image_tag("ph7.jpg") %>
	</div>
	<div id="ph8"> 
		<%= image_tag("ph8.jpg") %>
	</div>
	<div id="ph9"> 
		<%= image_tag("ph9.jpg") %>
	</div>
	<div id="ph10"> 
		<%= image_tag("ph10.jpg") %>
	</div>
	<div id="ph11"> 
		<%= image_tag("ph11.jpg") %>
	</div>
	<div id="ph12"> 
		<%= image_tag("ph12.jpg") %>
	</div>
	<div id="ph13"> 
		<%= image_tag("ph13.jpg") %>
	</div>
	<div id="ph14"> 
		<%= image_tag("ph14.jpg") %>
	</div>
	<div id="ph15"> 
		<%= image_tag("ph15.jpg") %>
	</div>
	<div id="ph16"> 
		<%= image_tag("ph16.jpg") %>
	</div>
	<div id="ph17"> 
		<%= image_tag("ph17.jpg") %>
	</div>
	<div id="ph18"> 
		<%= image_tag("ph18.jpg") %>
	</div>
	<div id="ph19"> 
		<%= image_tag("ph19.jpg") %>
	</div>
	<div id="ph20"> 
		<%= image_tag("ph20.jpg") %>
	</div>
	<div id="ph21"> 
		<%= image_tag("ph21.JPG") %>
	</div>
	<div id="ph22"> 
		<%= image_tag("ph22.JPG") %>
	</div>
</div>