<h1>Trofeos y pisapapeles</h1>
<div class="pictures">
	<div> 
		<%= image_tag("t1.jpg") %>
	</div>
	<div> 
		<%= image_tag("t2.jpg") %>
	</div>
	<div> 
		<%= image_tag("t3.jpg") %>
	</div>
	<div> 
		<%= image_tag("t4.jpg") %>
	</div>
	<div> 
		<%= image_tag("t5.jpg") %>
	</div>
	<div> 
		<%= image_tag("t6.jpg") %>
	</div>
	<div> 
		<%= image_tag("t7.JPG") %>
	</div>
	<div> 
		<%= image_tag("t8.JPG") %>
	</div>
	<div> 
		<%= image_tag("t9.JPG") %>
	</div>
	<div> 
		<%= image_tag("t10.JPG") %>
	</div>
</div>