<!DOCTYPE html>
<html>
<head>
  <title>Luis Meca Grabados</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="fixed">
		<nav class="top-bar" data-topbar>
			<ul class="title-area">
	    		<li class="name">
	    			<h1><%= link_to "Luis Meca Grabados", controller: "luis", action: "index" %></h1>
	    		</li>
	<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    		<li class="toggle-topbar menu-icon"><a><span>Menu</span></a></li>
			</ul>
			
			<section class="top-bar-section">
	<!-- Left Nav Section -->
		    	<ul class="left">
	    			<li class="divider"></li>
		    		<li>
		    			<a><%= link_to "Contacto", controller: "luis", action: "contact" %></a>	
		    		</li>
		    	</ul>
		    	<ul class="left">
	    			<li class="divider"></li>
		    		<li class="has-dropdown not-click">
		    			<a>Productos</a>
		        		<ul class="dropdown">
		        			<li class="divider"></li>		        				
        					<li><%= link_to "Badges", controller: "trabajos", action: "badges" %></li>
        					<li class="divider"></li>
        					<li><%= link_to "Cuadros", controller: "trabajos", action: "cuadros" %></li>
        					<li class="divider"></li>		        				
        					<li><%= link_to "Emblemas", controller: "trabajos", action: "emblemas" %></li>
        					<li class="divider"></li>		        				
        					<li><%= link_to "Her치ldica", controller: "trabajos", action: "heraldica" %></li>
        					<li class="divider"></li>		        				
        					<li><%= link_to "L치minas", controller: "trabajos", action: "laminas" %></li>
        					<li class="divider"></li>		        				
        					<li><%= link_to "Metopas", controller: "trabajos", action: "metopas" %></li>
        					<li class="divider"></li>
        					<li class="has-dropdown not-click">	        				
        						<a>Placas</a>
        						<ul class="dropdown">
        							<li class="divider"></li>
        							<li><%= link_to "Homenaje", controller: "trabajos", action: "placas_homenaje" %></li>
        							<li class="divider"></li>
        							<li><%= link_to "Se침alizaci칩n", controller: "trabajos", action: "placas_senalizacion" %></li>
        						</ul>
        					</li>
        					<li class="divider"></li>		        				
        					<li><%= link_to "Trofeos y pisapapeles", controller: "trabajos", action: "trofeos" %></li>
		        		</ul>
		    		</li>
		    	</ul>
		    </div>


	<!-- Right Nav Section -->
		    	<ul class="right">
		    		
		    	</ul>
			</section>
		</nav>

	<article>
		<%= yield %>
	</article>
	<script>$(document).foundation();</script>
</body>
</html>